.float-left
{
    float: left;
    margin: 0 1em 1em 0;
}
.float-right
{
    float: right;
    margin: 0 0 1em 1em;
}
pre
{
    clear: both;
}
.clear
{
    clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
