hr.page-break
{
    page-break-before: always;
    border: 0;
    height: 0;
    background-color: transparent;
}

h1.cssbook
{
    background-color: #000000;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
}

h2.cssbook
{
    border: 5px double #999999;
    padding: 1em;
    text-align: center;
    margin-top: 0;
    background-color: #dedede;
}

h3.cssbook
{
    border-color: #000000;
    border-style: double;
    border-width: 0px 0px 5px 0px;
    padding-bottom: 5px;
    font-size: 200%;
    margin-top: 0;
}

h4.cssbook
{
    border-top: 5px double #661a00;
    border-bottom: 5px double #661a00;
    font-size: 180%;
    margin-top: 0;
    padding: 5px;
}

div.cssbook-sample
{
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 10px;
}

pre.cssbook
{
    border-radius: 5px;
    font-size: 80%;
    background-color: #dedede;
    padding: 1em;
    margin-bottom: 50px;
}

pre.no-margin
{
    margin-bottom: 0.5em !important;
}

div.cssbook-bread
{
    font-size: 70%;
    color: #999999;
    text-align: right;
}

table.color-chart
{
    width: 100%;
}

table.color-chart td
{
    font-size: 60%;
    text-align: center;
}

table.color-chart .white td
{
    color: #ffffff;
}

